@charset "UTF-8";
/*estilo para o  body*/
body{
    background-color: rgba(184, 184, 184, 0.89);
    color:black;
}
/*Estilo para interfaces*/
div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    padding: 15px;
}
p{ 
    text-align: justify;
    text-indent: 50px; 
    color: rgb(27, 116, 250);
}
header#cabecalho img#icone {
    position: absolute;
    left: 780px;
    top: 40px;
}
header#cabecalho {

}
/* Formatação de imagens com legendas. "figure"= adicionar foto com formatação*/ 
figure.fotos-com-legenda {
    position: relative;
    border: 8px solid white; /* Espessura da borda e solid é a cor da borda*/
    box-shadow: 1px 1px 4px black; /*Sombra= *Deslocamento horizontal, vertical, espalhamento, cor*/
    } 
figure.fotos-com-legenda img{
    height: 100%; /*Altura*/
    width: 100%; /*Largura*/
}

figure.fotos-com-legenda figcaption{
    opacity: 0;  /*Opacidade*/
    position: absolute;    /*Define a posição */
    top: 0px; 
    background-color: rgba(0, 0, 0, .4);
    height: 100%; /*Altura*/
    width: 100%; /*Largura*/
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.fotos-com-legenda:hover figcaption{  /*Cria uma formatação especifica quado você passa o mouse em cima*/
    opacity: 1;
}

/* Formatação do menu*/
nav#menu {
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}
nav#menu li{
    display: inline-block; /* palavras em uma unica linha */
    background-color: rgb(250, 255, 255);
    padding: 10px; /* espaço fora */
    margin: 2px; /* espaço dentro do botao */
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color: #606060
}
nav#menu hl{
    display: none;
}
nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}
