@charset "UTF-8";
/*estilo para o  body*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo' ;
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body{
    background-color: rgba(184, 184, 184, 0.89);
    color:black;
}
/*Estilo para interfaces*/
div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}
p{ 
    text-align: justify;
    text-indent: 50px; 
    color: rgb(27, 116, 250);
}
header#cabecalho img#icone {
    position: absolute;
    left: 900px;
    top: 70px;
}
header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}
header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
    
}
header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    margin-top: 0px;
    
}
/* Formatação de imagens com legendas. "figure"= adicionar foto com formatação*/ 
figure.fotos-com-legenda {
    position: relative;
    border: 8px solid white; /* Espessura da borda e solid é a cor da borda*/
    box-shadow: 1px 1px 4px black; /*Sombra= *Deslocamento horizontal, vertical, espalhamento, cor*/
    } 
figure.fotos-com-legenda img{
    height: 100%; /*Altura*/
    width: 100%; /*Largura*/
}

figure.fotos-com-legenda figcaption{
    opacity: 0;  /*Opacidade*/
    position: absolute;    /*Define a posição */
    top: 0px; 
    background-color: rgba(0, 0, 0, .4);
    height: 100%; /*Altura*/
    width: 100%; /*Largura*/
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.fotos-com-legenda:hover figcaption{  /*Cria uma formatação especifica quado você passa o mouse em cima*/
    opacity: 1;
}

/* Formatação do menu*/
nav#menu {
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}
nav#menu li{
    display: inline-block; /* palavras em uma unica linha */
    background-color: rgb(255, 255, 255);
    padding: 10px; /* espaço fora */
    margin: 2px; /* espaço dentro do botao */
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color: #606060
}
nav#menu h1{
    display: none;
}
nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: #ffffff;
    
}
section#corpo {
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
    /* Configuracoes area do site*/
}
aside#lateral {
    display: block;
    width: 350px;
    float: right;
}
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}
footer#rodape p {
    text-align: center;
}